:root {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2015/12/24/21/57/submarine-1107176_960_720.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;

  --normalText: blue;
  --highLightText: purple;

  --accentColor1: seagreen;
  --accentColor2: yellow;
  --accentColor3: maroon;

  --selectedSquare: orange;
  --unsunkShip: lightgray;
  --sunkShip: darkgray;

  --torpedoHit: red;
  --torpedoMiss: turquoise;
}

h1 {
  --h: 80vw;
  font-size: calc((var(--h) / 9));
}

h2 {
  --h: 80vw;
  font-size: calc((var(--h) / 11));
}

h3 {
  --h: 80vw;
  font-size: calc((var(--h) / 17));
}

p {
  --h: 80vw;
  font-size: calc((var(--h) / 24));
}
