:root {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;

  /* images */
  background-image: url(../../Battleship-image/backgroundimage.jpg);

  --shipSquare: 6;

  /*text colors */

  --normalText: blue;
  --highLightText: purple;

  /*theme colors */

  --accentColorDark: seagreen;
  --accentColorLight: yellow;
  --accentColorAlternate: maroon;

  --unsunkShip: green;
  --sunkShip: darkgray;

  --torpedoHit: red;
  --torpedoMiss: turquoise;

  /* pirate theme colors */

<<<<<<< HEAD
  --battleshipPurple: #6866EE;
  --battleshipRed: #CF171E;
  --battleshipNavy: #364D6F;
  --battleshipNavyBackground: #364D6F90;
  --battleshipBlueColumnLines: #3FA3E9;
=======
  --battleshipPurple: #6866ee;
  --battleshipRed: #ea4600;
  --battleshipNavy: #364d6f;
  --battleshipNavyBackground: #a2b1c7ee;
  --battleshipBlueColumnLines: #3fa3e9;
>>>>>>> dec33f5b68b0b76444eaae2862267629154ddf0d

  /* changing cursors */
  --cursorImage: auto;
  /* --selectedShip: url(sillyimage.png) */
}

h1 {
  --h: 80vw;
  font-size: calc((var(--h) / 9));
  margin: 0;
}

h2 {
  --h: 80vw;
  font-size: calc((var(--h) / 11));
  margin: 0;
}

h3 {
  --h: 80vw;
  font-size: calc((var(--h) / 17));
  margin: 0;
}

p {
  --h: 80vw;
  font-size: calc((var(--h) / 24));
}
