.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  /* margin-left: 37%; */
  margin-top: 6%;
  size: 23px;
}

.homePage h1 {
  text-transform: uppercase;
  margin: 0px;
  color: var(--battleshipRed);
  text-shadow: 1px 1px 0 var(--battleshipPurple), 5px 5px 0 var(--battleshipPurple);
  text-align: center;
  margin-right: 60%;
  position: fixed;
}

.homePage h3 {
  color: var(--accentColorDark);
  margin-top: 200px;
}

.CreateAndJoin {
  margin-top: 45%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--battleshipNavyBackground);
  width: 300px;
  font-size: 20px;
  padding: 90px 70px;
  border: 2px solid var(--battleshipBlueColumnLines);
}

.JoinGameForm {
  display: flex;
  flex-direction: row;
}
