.twoBoards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h3 {
  color: var(--battleshipRed);
  text-shadow: 1px 1px 0 var(--battleshipNavy),
    9px 7px 10px var(--battleshipNavy);
}

.newGamePlayerBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fireButton {
  height: 4em;
  width: 66vh;
}

.opponentBoard {
  display: flex;
  flex-direction: column;
}
