.newBoardSquare {
  --squareSize: 6vh;
  width: var(--squareSize);
  height: var(--squareSize);
  background-color: var(--battleshipNavyBackground);
  text-align: center;
  position: relative;
  Z-index: 1;
  border: 1px solid var(--battleshipBlueColumnLines);
  color: white;
  font-weight: bold
}

.newBoardSquare:hover {
  background-color: var(--battleshipRed);
}

.newBoardSquare:focus {
  background-color: var(--battleshipNavy);
}

.shipsAvailable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--battleshipNavyBackground);
  justify-content: center;
  align-items: center;
  margin-left:200px;
  margin-right:80px;
  border: 2px solid var(--battleshipBlueColumnLines)
}

.placedShip {
  --squareSize: 6vh;
  width: var(--squareSize);
  height: var(--squareSize);
  background-color: var(--unsunkShip);
  color: var(--highLightText);
}

.initialShip2 {
  width: 400px;
  height: 200px;
}

.setUpBoard {
  display: flex;
  flex-direction: row;
}

h2 {
  text-transform: uppercase;
  margin: 0px;
  color: var(--battleshipRed);
  text-shadow: 1px 1px 0 var(--battleshipPurple), 5px 5px 0 var(--battleshipPurple);
  text-align: center;
  /* margin-right: 60%; */
  /* position: fixed; */
}