.newBoardSquare {
  --squareSize: 6vh;
  width: var(--squareSize);
  height: var(--squareSize);
  background-color: var(--battleshipNavyBackground);
  text-align: center;
<<<<<<< HEAD
  border-color: var(--battleshipBlueColumnLines);
  color: white;
=======
  position: relative;
  Z-index: 1;
>>>>>>> ed059cd8d599e418bb3adc592d5f679a3f74c830
}

.newBoardSquare:hover {
  background-color: var(--battleshipRed);
}

.newBoardSquare:focus {
  background-color: var(--battleshipNavy);
}

.shipsAvailable {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--battleshipNavyBackground);
  justify-content: center;
  align-items: center;
}

.placedShip {
  --squareSize: 6vh;
  width: var(--squareSize);
  height: var(--squareSize);
  background-color: var(--unsunkShip);
  color: var(--highLightText);
}

.initialShip2 {
  width: 400px;
  height: 200px;
}

.setUpBoard {
  display: flex;
  flex-direction: row;
}

h2 {
  text-transform: uppercase;
  margin: 0px;
  color: #ea4701;
  text-shadow: 1px 1px 0 #6866ee, 5px 5px 0 #6866ee;
  text-align: center;
  /* margin-right: 60%; */
  /* position: fixed; */
}