.newBoardSquare {
  --squareSize: 6vh;
  width: var(--squareSize);
  height: var(--squareSize);
  background-color: var(--battleshipNavyBackground);
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 1px solid var(--battleshipBlueColumnLines);
  color: white;
  font-weight: bold;
}

.newBoardSquare:hover {
  background-color: var(--battleshipRed);
}

.newBoardSquare:focus {
  background-color: var(--battleshipNavy);
}

.hitBoardSquare {
  background-color: red;
  border-radius: 50%;
  --squareSize: 6vh;
  width: var(--squareSize);
  height: var(--squareSize);
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.missBoardSquare {
  background-color: white;
  border-radius: 50%;
  --squareSize: 6vh;
  width: var(--squareSize);
  height: var(--squareSize);
  text-align: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.shipsAvailable {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--battleshipNavyBackground);
  justify-content: flex-start;
  justify-items: center;
  align-items: center;
  margin-left: 10vh;
  margin-right: 4vh;
  max-height: 80vh;
  box-shadow: 0px 10px 35px var(--battleshipBlueColumnLines);
  border: 2px solid var(--battleshipBlueColumnLines);
  margin: 4vh;
}

.initialBoard {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 35px var(--battleshipBlueColumnLines);
  margin: 4vh;
}

.placedShip {
  --squareSize: 6vh;
  width: var(--squareSize);
  height: var(--squareSize);
  background-color: var(--unsunkShip);
  color: var(--highLightText);
}

.shipGroups {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.availableShip {
  margin: 2vh;
}

.shipInstructions {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--battleshipNavy);
  border: 2px solid var(--battleshipBlueColumnLines);
  height: auto;
  width: auto;
  padding: 20px;
  color: white;
  border-radius: 1em;
}

.availableShip :hover {
  cursor: url(/Battleship-image/ships/battleshipHorizontal.PNG), auto;
}

.initialShip2 {
  width: 400px;
  height: 200px;
}

.setUpBoard {
  display: flex;
  flex-direction: row;
}

h2 {
  /* text-shadow: 1px 1px 0 var(--battleshipPurple), 9px 7px 15px var(--battleshipPurple); */
  text-shadow: 1px 1px 0 var(--battleshipNavy),
    9px 7px 10px var(--battleshipNavy);
  text-transform: uppercase;
  margin: 0px;
  color: var(--battleshipRed);
  text-align: center;
  /* margin-right: 60%; */
  /* position: fixed; */
}

.newBoard {
  background-color: var(--battleshipNavyBackground);
  border: 1px solid var(--battleshipBlueColumnLines);
  width: 66vh;
}
