.waitScreen {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  height: 100%;
  width: 100%;
}

.waitMessage {
  display: flex;
  border: 1px solid black;
  padding: 2em;
  margin: 4em;
  border-radius: 1em;
  background-color: var(--accentColor2);
}
